@page
@model Module6Project.Pages.algorithms.AntCOModel
@{
    ViewData["Title"] = "Муравьиный алгоритм";
}
<p class="tools">
    <button id="start">Старт</button>
    <button id="stop">Стоп</button>
</p>
<div>
    <canvas id="canvas"></canvas>
</div>
<script type="module" src="~/js/AntCO.js" asp-append-version="true"></script>