@page
@model Module6Project.Pages.algorithms.AntCOModel
@{
    ViewData["Title"] = "Муравьиный алгоритм";
}
<p>
    <input id="individs" type="number">
    <button id="start">Старт</button>
    <button id="stop">Стоп</button>
</p>
<canvas id="canvas"></canvas>
<script type="module" src="~/js/AntCO.js" asp-append-version="true"></script>