@page
@model Module6Project.Pages.AStarModel
@{
    ViewData["Title"] = "A*";
}
<div id="tools">
    <select id="colors">
        <option>Пустой пункт</option>
    </select>
    <canvas id="canvas"></canvas>
</div>
<script src="~/js/AStar.js" asp-append-version="true"></script>