@page
@model Module6Project.Pages.ClusterAnalysisModel
@{
    ViewData["Title"] = "Алгоритм Кластеризации";
}
<p class="tools">
    <input id="numClusters" type="number">
    <button id="start">Старт</button>
</p>
<canvas id="canvas"></canvas>
<script type="module" src="~/js/ClusterAnalysis.js" asp-append-version="true"></script>