@font-face {
    font-family: 'pixilated';
    src: local('pixilated'), url(pixilated.ttf);
}

* {
    font-family: pixilated;
    position: relative;
    /*text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
    letter-spacing: 0.125em;
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}

html {
    background-color: #000;
    color: #fff;
}

/*@keyframes textflicker {
    from {
        text-shadow: 1px 0 0 #ea36af, -1px 0 0 #75fa69;
    }

    to {
        text-shadow: 1px 0.5px 1px #ea36af, -1px -0.5px 1px #75fa69;
    }
}*/

::selection {
    color: #000;
    background-color: #fff;
}

::-webkit-scrollbar {
    background-color: #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 3px solid;
}

.logo {
    text-align: center;
    height: 100%;
    width: 100%;
}

.console {
    border: 2px solid white;
    height: 50ch;
    overflow-y: scroll;
}

.wrapper {
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.input {
    background-color: #000;
    color: #fff;
    width: 85%;
    border: 0px;
}

.main {

}

button, input, select {
    color: #fff;
    background-color: #000;
    border: 2px solid white;
}

.tools {
    margin: 0 25% 0 25%;
    width: 50%;
}

.consoleHead {
    border: 2px solid white;
    text-align: center;
}

pre {
    margin: 0em 0px;
}

#canvas {
    border: 2px solid white;
}