<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Desperato</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="logo">
        <a asp-area="" asp-page="/Index">
            <img id="svg" src="~/logo.svg">
        </a>
        <h1>Desperato</h1>
    </div>
    <div id="content" class="wrapper">
        <div class="consoleHead">desperato.exe</div>
        <div class="console">
            <div id="output">
            </div>
            <p>$ <input id="input" class="input" type="text"></p>
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
